@model List<ContainerModel>
<br />
<br />
<div class="border backgroundWhite p-4 mx-auto" style="max-width: 70%">
    <div class="row">
        <div class="col">
            <h2>Container List</h2>
        </div>
        <div class="col">
            <form asp-action="Create" method="post" style="display: flex; justify-content: space-between; align-items: center; gap: 6px;">
                <label>Name:</label>
                <input type"text" name="name" class="form-control" />
                <button type="submit" class="btn btn-info" style="min-width: fit-content">Create New</button>
            </form>
        </div>

    </div>
    <br />
    <div>
        @if (Model != null && Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            @Html.DisplayFor(mbox => item.Name)
                        </th>
                        <th class="text-end">
                            <a class="btn btn-danger" asp-action="Delete" asp-route-name="@item.Name">Delete</a>
                        </th>
                    </tr>
                    @foreach (var blob in item.Blobs)
                    {
                        <tr>
                            <td>
                                <a asp-action="PreviewBlob" asp-route-name="@blob" asp-route-containerName="@item.Name">@Html.DisplayFor(mbox => blob)</a>
                            </td>
                            <td class="text-end">
                                <a class="btn btn-danger" asp-action="DeleteBlob" asp-route-name="@blob" asp-route-containerName="@item.Name">Delete</a>
                            </td>
                        </tr>
                    }
                </table>
            }
        }
    </div>
</div>
