@model List<ContainerModel>
<br />
<br />
<div class="border backgroundWhite p-4 mx-auto" style="max-width: 70%">
    <div class="row">
        <div class="col">
            <h2>Container List</h2>
        </div>
        <div class="col">
            <form asp-action="Create" method="post" style="display: flex; justify-content: space-between; align-items: center; gap: 6px;">
                <label>Name:</label>
                <input type="text" name="name" class="form-control" />
                <button type="submit" class="btn btn-info" style="min-width: fit-content">Create New</button>
            </form>
        </div>

    </div>
    <br />
    <div>
        @if (Model != null && Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <table class="table table-striped border">
                    <tr class="table-primary">
                        <th colspan="2">
                            @Html.DisplayFor(mbox => item.Name)
                        </th>
                    </tr>
                    <tr class="table-secondary">
                        <th colspan="2" class="text-end">
                            <div class="text-end" style=" display: flex; justify-content: space-between; align-items: center; gap: 6px;">
                                <form method="post" asp-action="CreateBlob" enctype="multipart/form-data" style=" display: flex; justify-content: space-between; align-items: center; gap: 6px;">
                                    <input hidden type="text" name="containerName" class="form-control" value="@item.Name" />
                                    <input type="file" name="file" class="form-control" />
                                    <button type="submit" class="btn btn-success" style="min-width: fit-content">Add</button>
                                </form>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-name="@item.Name">Delete container</a>
                            </div>
                        </th>
                    </tr>
                    @foreach (var blob in item.Blobs)
                    {
                        <tr>
                            <td>
                                <a href="@blob.Uri">@Html.DisplayFor(mbox => blob.Name)</a>
                                @foreach (var data in blob.Metadata)
                                {
                                    <p>@data.Key: @data.Value</p>
                                }
                            </td>
                            <td style="display: flex; flex-direction: column; gap: 6px;">
                                <a class="btn btn-dark" asp-action="PreviewWithSasToken" asp-route-name="@blob.Name" asp-route-containerName="@item.Name">Preview with SAS Token</a>
                                <a class="btn btn-info" asp-action="UpdateBlobMetadata" asp-route-name="@blob.Name" asp-route-containerName="@item.Name">Update metadata</a>
                                <a class="btn btn-warning" asp-action="DeleteBlobMetadata" asp-route-name="@blob.Name" asp-route-containerName="@item.Name">Remove metadata</a>
                                <a class="btn btn-danger" asp-action="DeleteBlob" asp-route-name="@blob.Name" asp-route-containerName="@item.Name">Delete</a>
                            </td>
                        </tr>
                    }
                </table>
            }
        }
    </div>
</div>
